.btn1{
	margin-top: 10px;
	background-color: rgba(158, 160, 158, 0.9);
	border: none;
	box-shadow: 2px 1px 2px #212021;
	color: black;	
	font-size: 15px;
	font-family: 'Ubuntu', sans-serif;
	width: 50%;
	padding-top:5px; 
	padding-bottom:5px; 

}

.btn1:hover{
	background-color: rgba(92, 94, 90, 0.9);
}
h1{
	font-family: 'Cookie', cursive;
	font-size: 150px;
	color: rgba(185, 113, 60, 0.9);
	text-shadow:4px 2px 4px #212021;
	margin-bottom: 0px;
}
h4{
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
	color: rgba(185, 113, 60, 0.9);
	margin-top: 0px;
	margin-bottom: 30px;
	text-shadow:2px 1px 2px #212021;

}
form{
	margin-left: 15%;
	margin-right: 15%;
}
body{
	background-image: url("../images/fondo_formulario.png");
}
.btn-warning{
	box-shadow: 2px 1px 2px #212021;
	width: 50%;
}

body > div > form > fieldset:nth-child(3) > div.form-group.text-center > div > div > div > div{
	margin: 0 auto;
}